body {
  background-color: black;
  color: white;
  width: 90%;
  text-align: center;
}

.bName {
  font-size: 6rem;
  margin: auto;
}

.sName {
  font-size:1.3rem;
  margin: auto;
  text-decoration: underline;
}
.navbar {
  position: fixed;
  bottom: 0;
  right: 10px;
}

.faico {
  color: white;
  padding: 10px;
}

.faico:hover {
  color: blue;
}
